<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- comment out to show logback status messages at startup -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <!-- NOTE: we configure the console logger to use the JSON format for the k8s configuration only -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender" queueSize="100000">
        <!-- http://logback.qos.ch/manual/appenders.html#AsyncAppender -->
        <appender-ref ref="STDOUT" />
    </appender>

    <root level="info">
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>

    <logger name="com.onepeloton" level="DEBUG"/>
</configuration>
